*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Press Start 2P', cursive;
    background: black;
    min-height: 100vh;
    overflow: hidden;
    color:white;

}

.main{
    position: relative;
    width: 100vw;
    min-height: 100vh;

}

.starcraft{
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(./images/ship.png) no-repeat;
    background-size: cover;
    transform: translate(-50%,-50%);
    cursor: none;
}


.star{
    position: absolute;
    border-radius: 50%;
}

.score{
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-size: 1.5rem;
}

.bullet{
    position: absolute;
    height: 35px;
    width: 5px;
    background: red;
    border-radius: 10px;
    opacity: 0.7;
    box-shadow: 0px 1px 15px white ;
    transform: translate(-50%,-10%);
}

.rock{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0px;
    background: url(./images/rockk.png) no-repeat;
    background-size: cover;
    animation: rotaterock 1s ease-in-out infinite;
}
.astroidexplode{
background: url(./images/boomastroid.png) no-repeat;
background-size: cover;
animation: none;

}


.starcraftexplode{

    background: url(./images/boomcraft.png) no-repeat;
    background-size: contain;

}

.modal{
position: absolute;
top: 0;
left: 0;
min-height: 100vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
background: black;
cursor: default;
z-index: 1000;
}

.startgame{
padding: 0.9rem 3rem;
font-size: 1.2rem;
border: 1px solid white;
cursor: pointer;
transition: 0.2s ease;
letter-spacing: 2px;

}

.startgame:hover{
    background: rgba(255,255,255,0.5);
}


.closemodal{
    opacity: 0;
    pointer-events: none;
}



@keyframes rotaterock{
0%
{
    transform: rotate(0deg);
}
25%
{
    transform: rotate(90deg);
}
50%
{
    transform: rotate(270deg);
}
100%
{
    transform: rotate(360deg);
}

}